.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    padding:20px 8%;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    z-index:1000;

}

.logo{

    font-size:32px;

    font-weight:700;

    color:#2563eb;

}

.logo span{

    color:#0f172a;

}

.menu{

    list-style:none;

    display:flex;

    gap:40px;

}

.menu a{

    text-decoration:none;

    color:#334155;

    font-weight:500;

    transition:.3s;

}

.menu a:hover{

    color:#2563eb;

}